@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: gray;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gradient-box {
  background: linear-gradient(to right, cyan, rgb(97, 177, 177), cyan);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}