@tailwind base;
@tailwind components;
@tailwind utilities;

@media print{

  body{


    width: 210mm;
    height: 297mm;
    margin: 0 auto;

  }
 

 
}

body{
  background-color: gray;
  
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


